<a href="https://colab.research.google.com/github/Anaqqa/4DVST---Data-Visualization/blob/main/TP_4DVST.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Installation des biblitothèquess nécessaires

In [169]:
!pip install matplotlib seaborn plotly

Requirement already satisfied: matplotlib in /usr/local/lib/python3.11/dist-packages (3.10.0)
Requirement already satisfied: seaborn in /usr/local/lib/python3.11/dist-packages (0.13.2)
Requirement already satisfied: plotly in /usr/local/lib/python3.11/dist-packages (5.24.1)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.11/dist-packages (from matplotlib) (1.3.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.11/dist-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.11/dist-packages (from matplotlib) (4.57.0)
Requirement already satisfied: kiwisolver>=1.3.1 in /usr/local/lib/python3.11/dist-packages (from matplotlib) (1.4.8)
Requirement already satisfied: numpy>=1.23 in /usr/local/lib/python3.11/dist-packages (from matplotlib) (2.0.2)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.11/dist-packages (from matplotlib) (24.2)
Requirement already satisfied: pillow>=8 in /usr/local/lib/python3.11/dist-packages (from matplotlib) (11.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.11/dist-packages (from matplotlib) (3.2.3)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.11/dist-packages (from matplotlib) (2.8.2)
Requirement already satisfied: pandas>=1.2 in /usr/local/lib/python3.11/dist-packages (from seaborn) (2.2.2)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.11/dist-packages (from plotly) (9.1.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas>=1.2->seaborn) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas>=1.2->seaborn) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.7->matplotlib) (1.17.0)

In [170]:
!pip install forex-python==1.6  # installez la bibliothèque forex-python si besoin
from forex_python.converter import CurrencyRates

Requirement already satisfied: forex-python==1.6 in /usr/local/lib/python3.11/dist-packages (1.6)
Requirement already satisfied: requests in /usr/local/lib/python3.11/dist-packages (from forex-python==1.6) (2.32.3)
Requirement already satisfied: simplejson in /usr/local/lib/python3.11/dist-packages (from forex-python==1.6) (3.20.1)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.11/dist-packages (from requests->forex-python==1.6) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.11/dist-packages (from requests->forex-python==1.6) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.11/dist-packages (from requests->forex-python==1.6) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.11/dist-packages (from requests->forex-python==1.6) (2025.1.31)

In [171]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly.offline as pyo
import plotly.io as pio
import plotly.graph_objects as go

#Import des données

In [172]:
def importer_donnees(chemin_fichier):
  """
  Importe les données d'un fichier CSV.

  Args:
    chemin_fichier: Le chemin d'accès au fichier CSV.

  Returns:
    Un DataFrame pandas contenant les données.
  """
  df = pd.read_csv(chemin_fichier)
  return df

In [173]:
# Créer un dictionnaire avec le rennommage des noms de colonnes
new_column_names = {
    'brand_name': 'Marque',
    'model': 'Modèle',
    'price': 'Prix',
    'avg_rating': 'Note Moyenne',
    '5G_or_not': '5G',
    'processor_brand': 'Marque Processeur',
    'num_cores': 'Nombre de Coeurs',
    'processor_speed': 'Vitesse Processeur',
    'battery_capacity': 'Capacité Batterie',
    'fast_charging_available': 'Charge Rapide Disponible',
    'fast_charging': 'Charge Rapide',
    'ram_capacity': 'RAM',
    'internal_memory': 'Mémoire Interne',
    'screen_size': 'Taille Écran',
    'refresh_rate': 'Taux de Rafraîchissement',
    'num_rear_cameras': 'Nombre Caméras Arrière',
    'os': 'Système d''exploitation',
    'primary_camera_rear': 'Caméra Principale Arrière',
    'primary_camera_front': 'Caméra Principale Avant',
    'extended_memory_available': 'Mémoire Extensible',
    'resolution_height': 'Résolution Hauteur',
    'resolution_width': 'Résolution Largeur'
}

In [174]:
def renommer_colonnes(df, new_column_names):
  """
  Renomme les colonnes d'un DataFrame.

  Args:
    df: Le DataFrame pandas.
    new_column_names: Un dictionnaire avec les traductions des noms de colonnes.

  Returns:
    Un DataFrame pandas avec les colonnes renommées.
  """
  df = df.rename(columns=new_column_names)
  return df

In [175]:
def convertir_prix(df, colonne_prix, devise_source, devise_cible):
  """
  Convertit les prix d'une colonne d'un DataFrame et remplace la colonne originale.

  Args:
    df: Le DataFrame pandas.
    colonne_prix: Le nom de la colonne contenant les prix.
    devise_source: La devise source.
    devise_cible: La devise cible.

  Returns:
    Un DataFrame pandas avec les prix convertis dans la colonne originale.
  """
  c = CurrencyRates()
  taux_de_change = 0.012  # Taux de change fixe pour INR vers EUR
  df[colonne_prix] = df[colonne_prix].apply(lambda x: x * taux_de_change)
  return df

In [176]:
def pre_traitement(df):
    # Vos fonctions de pré-traitement ici (ex: nettoyage, transformation, etc.)
    df = renommer_colonnes(df, new_column_names)
    df = convertir_prix(df, 'Prix', 'INR', 'EUR')
    return df

In [177]:
#résumé du dataframe pour mieux comprendre la structure des données
def analyse_descriptive(df):
    # Vos fonctions d'analyse descriptive ici (ex: statistiques, distributions, etc.)
    print("Nombre de lignes :", df.shape[0])
    df.info()
    df.describe()
    return  # ou retourner des résultats si besoin

#Traitement

In [179]:
# Importer les données, modifier le chemin du fichier si besoin
df = importer_donnees('/content/sample_data/smartphones.csv')

In [184]:
pre_traitement(df)

,Marque,Modèle,Prix,Note Moyenne,5G,Marque Processeur,Nombre de Coeurs,Vitesse Processeur,Capacité Batterie,Charge Rapide Disponible,...,Mémoire Interne,Taille Écran,Taux de Rafraîchissement,Nombre Caméras Arrière,Système dexploitation,Caméra Principale Arrière,Caméra Principale Avant,Mémoire Extensible,Résolution Hauteur,Résolution Largeur
0,apple,Apple iPhone 11,467.988,7.3,0,bionic,6.0,2.65,3110.0,0,...,64,6.10,60,2,ios,12.0,12.0,0,1792,828
1,apple,Apple iPhone 11 (128GB),563.988,7.5,0,bionic,6.0,2.65,3110.0,0,...,128,6.10,60,2,ios,12.0,12.0,0,1792,828
2,apple,Apple iPhone 11 Pro Max,1318.800,7.7,0,bionic,6.0,2.65,3500.0,1,...,64,6.50,60,3,ios,12.0,12.0,0,2688,1242
3,apple,Apple iPhone 12,623.988,7.4,1,bionic,6.0,3.10,NaN,0,...,64,6.10,60,2,ios,12.0,12.0,0,2532,1170
4,apple,Apple iPhone 12 (128GB),671.988,7.5,1,bionic,6.0,3.10,NaN,0,...,128,6.10,60,2,ios,12.0,12.0,0,2532,1170
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
975,xiaomi,Xiaomi Redmi Note 9 Pro,167.988,7.5,0,snapdragon,8.0,2.30,5020.0,1,...,64,6.67,60,4,android,48.0,16.0,1,2400,1080
976,xiaomi,Xiaomi Redmi Note 9 Pro (4GB RAM + 128GB),173.268,7.7,0,snapdragon,8.0,2.30,5020.0,1,...,128,6.67,60,4,android,48.0,16.0,1,2400,1080
977,xiaomi,Xiaomi Redmi Note 9 Pro Max,197.880,8.0,0,snapdragon,8.0,2.30,5020.0,1,...,64,6.67,60,4,android,64.0,32.0,1,2400,1080
978,zte,ZTE Axon 30S,239.988,8.2,1,snapdragon,8.0,3.20,4200.0,1,...,128,6.90,120,4,android,50.0,16.0,1,2460,1080
979,zte,ZTE Axon 40 Ultra 5G,743.880,8.9,1,snapdragon,8.0,3.00,5000.0,1,...,128,6.80,120,3,android,64.0,16.0,0,2480,1116

#Description des data

In [183]:
analyse_descriptive(df)

Nombre de lignes : 980
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 980 entries, 0 to 979
Data columns (total 22 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   brand_name                 980 non-null    object
 1   model                      980 non-null    object
 2   price                      980 non-null    int64
 3   avg_rating                 879 non-null    float64
 4   5G_or_not                  980 non-null    int64
 5   processor_brand            960 non-null    object
 6   num_cores                  974 non-null    float64
 7   processor_speed            938 non-null    float64
 8   battery_capacity           969 non-null    float64
 9   fast_charging_available    980 non-null    int64
 10  fast_charging              769 non-null    float64
 11  ram_capacity               980 non-null    int64
 12  internal_memory            980 non-null    int64
 13  screen_size                980 non-null    float64
 14  refresh_rate               980 non-null    int64
 15  num_rear_cameras           980 non-null    int64
 16  os                         966 non-null    object
 17  primary_camera_rear        980 non-null    float64
 18  primary_camera_front       975 non-null    float64
 19  extended_memory_available  980 non-null    int64
 20  resolution_height          980 non-null    int64
 21  resolution_width           980 non-null    int64
dtypes: float64(8), int64(10), object(4)
memory usage: 168.6+ KB

# Data Viz

In [181]:
# Calculer les prix moyens par marque et trier par ordre décroissant
average_prices = df.groupby('Marque')['Prix'].mean().reset_index()
average_prices = average_prices.sort_values(by='Prix', ascending=False)

# Sélectionner les 5 marques les plus chères
top_5_expensive_brands = average_prices.head(5)

# Créer le graphique à barres avec Plotly
fig = go.Figure()
fig.add_trace(go.Bar(x=top_5_expensive_brands['Marque'], y=top_5_expensive_brands['Prix']))

# Personnaliser le graphique
fig.update_layout(
    title='Top 5 des marques les plus chères par prix moyen',
    xaxis_title='Marque',
    yaxis_title='Prix moyen',
    plot_bgcolor='black',
    paper_bgcolor='#595964',
    font=dict(color='white')
)

# Afficher le graphique dans Colab
pyo.init_notebook_mode(connected=True)
pyo.iplot(fig)

KeyError: 'Marque'

In [ ]:
# Créer une nouvelle colonne "Marque_groupe" qui regroupe les marques ayant moins de 10 occurrences sous l'étiquette 'Autres'. N'hésitez pas à ajuster ce seuil (10) selon vos données.
df['Marque_groupe'] = df['Marque'].apply(lambda x: x if df['Marque'].value_counts()[x] > 10 else 'Autres')

# Créer le boxplot avec la nouvelle colonne
sns.boxplot(x='Marque_groupe', y='Prix', data=df)
plt.title('Distribution des prix par marque')
plt.xticks(rotation=45, ha='right')
plt.show()

In [ ]:
sns.violinplot(x='Marque_groupe', y='Prix', data=df)
plt.title('Distribution des prix par marque')
plt.xticks(rotation=45, ha='right')
plt.show()

In [ ]:
g = sns.FacetGrid(df, col='Marque', col_wrap=4, sharey=False) # col_wrap=4 crée 4 graphiques par ligne
g.map(sns.boxplot, 'Prix')
plt.show()

In [ ]:
sns.boxplot(x='Marque', y='Prix', data=df)
plt.title('Distribution des prix par marque')
plt.xticks(rotation=45, ha='right')
plt.yscale('log') # Appliquer l'échelle logarithmique
plt.show()

In [ ]:
import plotly.express as px

# Calculer la moyenne des prix pour chaque marque
order = df.groupby('Marque')['Prix'].mean().sort_values(ascending=False).index

# Créer le boxplot avec l'ordre spécifié
fig = px.box(df,
             x='Marque',
             y='Prix',
             title='Distribution des prix par marque (trié par moyenne)',
             category_orders={'Marque': order.tolist()},
             hover_data=['Modèle'])  # Afficher le modèle au survol
fig.update_xaxes(tickangle=45)
fig.update_layout(width=1000, height=600)  # Ajuster la taille
fig.show()

In [ ]:
sns.scatterplot(x='RAM', y='Prix', hue='Marque', data=df)
plt.xlabel('RAM')
plt.ylabel('Prix')
plt.title('RAM vs Prix par Marque')
plt.legend() # adding a legend to the plot
plt.show()

In [ ]:
sns.boxplot(x='Marque', y='Prix', data=df)
plt.title('Distribution des prix par marque')
plt.xticks(rotation=45, ha='right')
plt.show()

In [ ]:
sns.scatterplot(x='RAM', y='Prix', hue='5G', data=df)
plt.xlabel('RAM')
plt.ylabel('Prix')
plt.title('RAM vs Prix par 5G')
plt.legend() # adding a legend to the plot
plt.show()

In [ ]:
sns.violinplot(x='Système d\'exploitation', y='Note Moyenne', data=df)
plt.title('Distribution des notes par système d\'exploitation')
plt.xticks(rotation=45, ha='right')
plt.show()

In [ ]:
fig = px.bar(df.groupby('Marque Processeur')['Prix'].mean().reset_index(),
             x='Marque Processeur', y='Prix', title='Prix moyen par marque de processeur')
fig.update_xaxes(tickangle=45, tickmode='linear')
fig.show()

In [ ]:
sns.violinplot(x='Brand', y='Rating', data=df)
plt.title('Distribution des notes par marque')
plt.xticks(rotation=45, ha='right')
plt.show()

In [ ]:
fig = px.bar(df.groupby('Brand')['Price (USD)'].mean().reset_index(),
             x='Brand', y='Price (USD)', title='Prix moyen par marque')
fig.update_xaxes(tickangle=45, tickmode='linear')
fig.show()

In [ ]:
fig = px.scatter(df, x='Taille Écran', y='Prix', size='Capacité Batterie',
                 color='Marque', title='Taille de l''écran vs Prix, avec Capacité Batterie comme taille des points',
                 hover_data=['Modèle'])
fig.show()

In [ ]:
fig = px.imshow(df.corr(), title='Matrice de corrélation',
                x=df.select_dtypes(include=['number']).columns,
                y=df.select_dtypes(include=['number']).columns)
fig.show()